# -----------------------------
# Python
# -----------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# -----------------------------
# Node / Frontend
# -----------------------------

node_modules/
dist/

# Vite
.vite/

# -----------------------------
# Build Outputs
# -----------------------------

outputs/*.step
outputs/*.stl
outputs/*.glb
outputs/*.gltf

# Reports
reports/*.pdf

# -----------------------------
# OS / Editor
# -----------------------------

.DS_Store
Thumbs.db

.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------

*.log

# -----------------------------
# Environment
# -----------------------------

.env
